.emphasis {
/*    fill: #eeeeee;*/
    fill-opacity: 0;
    stroke: #317eac;
    stroke-width: 5;
}

.regular {
    fill-opacity: 0;
    stroke: #555555;
    stroke-width: 3;
}

svg > *:hover {
/*    border: 10px solid;*/
    stroke: #FF0000;
}

#active {
    stroke-opacity: 0.5;
}

#selected {
    stroke: #00FF00;
}