* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
/*    background-color: #F4F4F0;*/
    font-family: monospace;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

svg {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
svg .highlight {
/*    fill: #eeeeee;*/
    fill-opacity: 0;
    stroke: #29AAE2;
    stroke-width: 5;
}

svg .regular {
    fill-opacity: 0;
    stroke: #59595B;
    stroke-width: 3;
}

svg text {
    font-size: 18px
}

.arrow {
    fill: transparent;
}

#regularArrow {
    stroke: #59595B;
}

#highlightArrow {
    stroke: #29AAE2;
}

.defs {
    width: 0;
    height: 0;
}

svg .line_arrow.regular {
    marker-end: url(#regularArrow);
}

svg .line_arrow.highlight {
    marker-end: url(#highlightArrow);
}

#active-svg > *:hover {
    stroke: orange;
    stroke-opacity: 0.5;
}

#selected {
    stroke: orange;
    stroke-opacity: 1;
    cursor: move;
}

/*
.control {
    fill-opacity: 0;
    stroke-opacity: 0;
}

#boundingbox {
    fill-opacity: 0;
    stroke: #000000;
    stroke-width: 1;
}
*/

#ns-resize       { cursor: ns-resize; }
#ew-resize       { cursor: ew-resize; }
#nesw-resize     { cursor: nesw-resize; }
#nwse-resize     { cursor: nwse-resize; }

button {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #bbbbbb;
    color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    margin:5px;
}

button:hover {
    border-color: #29AAE2;
    color: #29AAE2;
}

#copy-to-clipboard {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 2;
}

input[type=radio] {
    display:none; 
    margin:10px;
}



input[type=radio] + label {
    display:inline-block;
    margin:2px;
    width:40px;
    height:40px;
/*    padding: 2px 8px;*/
    background-color: transparent;
    border-color: #bbbbbb;
    border-style: solid;
    border-width: 3px;
    
    color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    
}

input[type=radio]:checked + label { 
/*
    background-image: none;
    background-color:#d0d0d0;
*/  
    border-color: #29AAE2;
    color: #29AAE2;
}

#regular-gclass + label {  
    background-image:url(assets/regular.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
}

#highlight-gclass + label {  
    background-image:url(assets/highlight.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 28px;
}

#select-toggle + label {
    background-image:url(assets/select.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 28px;
}

#draw-rect + label {
    background-image:url(assets/rect.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 28px;
}

#draw-circle + label {
    background-image:url(assets/circle.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 28px;    
}

#draw-line + label {
    background-image:url(assets/line.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 28px; 
}

#draw-arrow + label {
    background-image:url(assets/arrow.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 28px; 
}

#canvas {
    position: relative;
    width: 600px;
    height: 600px;
}

#grid {
    background-size: 30px 30px;
    background-image:repeating-linear-gradient(0deg, #000, #000 1px, transparent 1px, transparent 30px), repeating-linear-gradient(-90deg, #000, #000 1px, transparent 1px, transparent 30px);
/*
    height:600px;
    width:810px;
*/
/*
    height:100%;
    width:100%;
*/
    opacity:0.35;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;    
}

#control-panel {
    position: absolute;
    margin-left: 650px;
    width: 80px;
    height: 600px;
}

#select-shape {
    margin-top: 20px;
}

#finish-drawing {
    position: absolute;
    bottom: 0;
}

#view-code {
    position: absolute;
    right: 0;
    z-index: 1;
}

#active-svg {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}

.CodeMirror {
/*  border: 1px solid #eee;*/
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.cm-s-default .cm-variable {color: rgba(0, 0, 0, 0.8);}
.cm-s-default .cm-variable-2 {color: rgba(0, 0, 0, 0.8);}
.cm-s-default .cm-variable-3 {color: rgba(0, 0, 0, 0.8);}
.cm-s-default .cm-comment {color: #29AAE2;}
.cm-s-default .cm-header {color: #29AAE2;}
.cm-s-default .cm-builtin {color: #29AAE2;}
.cm-s-default .cm-tag {color: rgba(41, 170, 226, 0.8);}
.cm-s-default .cm-quote {color: #29AAE2;}

.cm-header, .cm-strong {font-weight: bold; color: #29AAE2;}
.cm-em {font-style: italic; color: #29AAE2;}

.cm-s-default .cm-link {color: #29AAE2;}
.cm-s-default .cm-string {color: #aaaaaa;}
.cm-s-default .cm-attribute {color: rgba(41, 170, 226, 0.8);}


.CodeMirror-selected { background: rgba(41, 170, 226, 0.2); }
.CodeMirror-focused .CodeMirror-selected { background: rgba(41, 170, 226, 0.2); }

.CodeMirror div.CodeMirror-cursor {
  border-left: 2px solid #29AAE2;
}

.CodeMirror pre.CodeMirror-placeholder { color: #aaaaaa; }